@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
input[type="text"]{
  width: 55%;
}
button{
  width: 150px;
}
.messages__list{
  height: 90vh;
  overflow-y: auto;
}
.messages__form{
  display: grid;
  width: 100vw;
  height: 10vh;
  padding-left: 15px;

}

@media(min-width: 500px){
  input[type="text"]{
  width: 65%;
}
  button{
    width: 150px;
  }
}
@media(min-width: 1000px){
  input[type="text"]{
  width: 75%;
}
  button{
    width: 150px;
  }
}
@media(min-width: 1300px){
  input[type="text"]{
  width: 85%;
}
  button{
    width: 170px;
  }
}
.messages__conversation > li{
  list-style-type: none;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 23px;
  width: 600px;
}
.messages__other{
  background-color: #f5f5f5;
}
.messages__your{
  margin-left: 30px;
  background-color: #0084FF;
  color: #f1f0f0

}
.messages__username{
  font-weight: bold;
  font-size: 12px;

}