@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
input[type="text"]{
  width: 55%;
}
button{
  width: 150px;
}
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  padding: 30px;
  transform: translate(-50%, -50%);
  border: 3px solid #00897b
}
.login h2 {
  text-align: center;
}
.login > form {
    display: flex;
}
.messages__list{
  display: flex;
  height: 90vh;

}

.messages__userslist{
  visibility: hidden;
  height: 90vh;
  padding: 0;
  margin: 6px;
}

.messages__userslist ul {
  padding: 0;
  margin: 0;
}
.messages__singleuser{
  list-style-type: none;
  padding: 15px 10px;
  font-size: 18px;
  width: 100%;
  background-color: #00897b;
  font-weight: bold;
  color: #f0fffd;
  margin-bottom: 4px;
  border-radius: 6px;
}
.messages__conversion{
  width: 90%;
  overflow-y: auto;
}
.messages__form{
  display: grid;
  width: 100vw;
  height: 10vh;
  padding-left: 15px;

}
.messages__conversation > li{
  list-style-type: none;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 23px;
  width: 80%;
}
.messages__other{
  background-color: #f5f5f5;
}
.messages__your{
  margin-left: 30px;
  background-color: #2962ff ;
  color: #f1f0f0

}
.messages__username{
  font-weight: bold;
  font-size: 12px;

}

@media(min-width: 500px){
  input[type="text"]{
    width: 65%;
  }

  button{
    width: 150px;
  }
}
@media(min-width: 1000px){
  input[type="text"]{
    width: 75%;
  }
  button{
      width: 150px;
  }
  .messages__userslist{
    visibility: visible;
      width: 10%;
  }
  .messages__conversation > li{
    width: 600px;
  }

}
@media(min-width: 1300px){
  input[type="text"]{
  width: 85%;
}
  button{
    width: 170px;
  }
}
